/* Fondos */

$background-container:linear-gradient(90deg, #020024 0%, #ec7676 39%, #00d4ff 100%);
$background-aside:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(119,120,123,1) 44%, rgba(0,0,0,1) 100%);
$background-footer:rgb(77, 5, 5);